/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: $medium-gray;
  padding: 8em 0 6em 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 48px;
  padding: 0 20px;
  color: #fff;
  float: left;

  &:hover {
    color: $light-gray;
  }
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999999;
	@include transition (all .2s ease-in-out);
}

@media screen and (min-width: 40em) {


  .headroom--unpinned {
  	top: -46px; 
  	background: none;
  }

  .headroom--pinned, .headroom:hover {
  	top: 0; 
  }

}



/* ------------------------------------------
  Hero
--------------------------------------------- */

.hero {
  $hero-color: white;
  padding-top: 2em;
  text-align: center;

  .hero-inner {
    margin: auto;
    color: $hero-color;
    opacity: 0.5;
    text-align: center;
    @include transition (all .2s ease-in-out);
    
    &:hover {
      opacity: 1;
    }

    h1 {
      font-size: 1.4em;
      margin-bottom: .2em;

      @include media($bp-medium) {
        font-size: 2em;
      }
    }

    p {
      margin: auto;
      margin-bottom: 3em; 
      font-weight: 200;

      @include media($bp-medium) {
        font-size: 1.2em;
        max-width: 40%;
      }
    }
  }
}
    
/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.nav-bar {
  width: 100%;
  background: rgba(0,0,0,0.95);
  border-bottom: 2px solid rgba(226,226,226,0.5);
}

.nav-wrap {
  @include outer-container;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
    margin-bottom: -2px;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  font-weight: 700;
  padding: 0.7em 1em;
  color: rgba(255,255,255,0.8);
  width: 100%;
  float: left;

  i {
    margin-right: 5px;
  }
}

.nav-collapse a:hover {
   color: #fff;
}

.nav-collapse a:active,
.nav-collapse .active a {
  color: #fff;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    padding: 1em 1em 0.5em 1em;
    text-align: center;
    border-top: 0;
    border-bottom: 2px solid transparent;
    float: left;
    margin: 0;
  }
  .nav-collapse a:hover {
  	border-bottom: 2px solid #fff;
  }
}

.nav-collapse ul ul a {
  background: #0088cc;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@media screen and (min-width: 40em) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: .3em 1em;
  border-radius: 5px;
  border: 2px solid $medium-gray;
  color: #fff;
  font-weight: 700;
}

.fa-bars, .fa-times {
  padding-right: 6px;
}

.closed {
  .fa-times {
  	display: none;
  }
}

.active {
  .fa-bars {
  	display: none;
  }
  .fa-times {
	display: inline-block;
  }
}

/* ------------------------------------------
  ANIMATION
--------------------------------------------- */

@media screen and (min-width: 60em) {
@keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
    @-webkit-keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
    @-ms-keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
    @-moz-keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
}