.personas {
  @include outer-container();
}

.persona {
  $persona-gutter: 1.4em;
  $persona-image-width: 4em;
  $persona-color: $base-font-color;
  $persona-background: lighten($base-accent-color, 15);
  $persona-detail-color: transparentize($persona-color, .5);
  $persona-image-vert-alignment: top;
  display: table;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;
  width: 100%;

  .persona-image,
  .persona-content {
    display: table-cell;
    vertical-align: $persona-image-vert-alignment;
  }

  .persona-image {
    padding-right: $persona-gutter;

    > img {
      background: $persona-background;
      border-radius: $base-border-radius;
      display: block;
      height: auto;
      max-width: none;
      width: $persona-image-width;
    }

    .persona-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .persona-content {
    width: 100%;

    h2 {
      margin-bottom: .5em;
      font-size: 1em;
      font-weight: bold;
    }

    p {
      margin-bottom: .5em;
    }

    p.persona-detail {
      color: $persona-detail-color;
      font-size: .9em;
      font-style: italic;
    }
  }
}

.tasks {
  text-align: center;
}

.wireframes {
  margin: 2em 0;
  text-align: center;
}

.map {
  background: url(http://maps.googleapis.com/maps/api/staticmap?center=37.445426,-122.159822&zoom=14&size=1024x200&scale=4&sensor=false);
  height: 400px;
  margin-bottom: 150px;
  .container {
    position: relative;
    margin-bottom: 600px;
  }
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: rgba(255, 255, 255, 0.95);
  $card-hover-background: #e5f2f9;

  @include transition(all 0.2s ease-in-out);
  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  margin: 0 auto;
  position: relative;
  top: 120px;
  width: 300px;

  .card-header {
    @include transition(all 0.2s ease-in-out);
    border-bottom: $card-border;
    
    .featured-logo {
      display: block;
      height: 100%;
      width: 100%;
      padding: 1.2em 0 1em 0;
      text-align: center;
      img {
        max-height: 60px;
      }
      &:hover {
          background-color: $card-hover-background;
        }
    }
  }

  .card-search {
    .search-bar {
      background: rgba(245, 245, 245, 0.6);
      padding: .7em 0;
      position: relative;
      text-align: center;
      input {
        @include box-sizing(border-box);
        display: block;
      }
      .nearby-button {
          @include button(simple, lighten($base-border-color, 90));
          display: inline-block;
          height: 32px;
          margin-right: 2px;
          outline: none;
          padding: 5px 10px;
          position: relative;
          top: 1px;
          img {
            height: 16px;
            opacity: .5;
            position: relative;
            top: 2px;
          }
          &:hover img {
            opacity: .6;
          }
        }
      .search-and-submit {
        position: relative;
        display: inline-block;
        width: 80%;
        input[type=search] {
          @include appearance(none);
          border-radius: $base-border-radius * 2;
          display: inline;
          font-size: .9em;
          font-style: italic;
          margin: 0;
          padding: .5em .8em;
          width: 100%;
        }
        button[type=submit] {
          @include button(simple, lighten($base-border-color, 10));
          @include position(absolute, 0.3em 0.3em 0.3em 0);
          outline: none;
          padding: 4px 10px;
          img {
            height: 12px;
            opacity: .5;
          }
          &:hover img {
            opacity: .6;
          }
        }
      }
    }

    ul.search-results {
      display: none;
      width: 100%;
      a {
        border-top: 1px solid $card-border-color;
        display: block;
        height: 100%;
        width: 100%;
        padding: .7em 1em;
        img {
          max-height: 40px;
        }
        &:hover {
          background-color: $card-hover-background;
        }
      }
    }
  }
}

.is-expanded {
  top: -20px;
}
