body {
  margin: 0 auto;
}

.services-row {
  margin-bottom: 3em;
  background: #F5F5F5;
  border-top: 2px solid $light-gray;
}

.services {
  $icon-service-size: 4em;

  @include outer-container();
  overflow: auto;
  margin-bottom: $base-line-height;

  .service {
    padding-left: 20%;
    @include media($bp-medium) {
      @include span-columns(4);
      @include omega(3n);
      padding-left: 2em;
    }
  }


  .service-icon {
    float: left;
    color: white;
    background: $base-accent-color;
    margin-top: 1em;
    border-radius: 50%;
    width: $icon-service-size;
    height: $icon-service-size;
  }

  .service-icon-1 {
    background: $base-accent-color;
    padding: 1em;
  }

  .service-icon-2 {
    background: adjust-hue($base-accent-color, -50);
    padding: 1.1em;
  }

  .service-icon-3 {
    background: adjust-hue($base-accent-color, -140);
    padding: .9em;
  }

  .service-content {
    margin-left: $icon-service-size *1.4;
    margin-bottom: 2em;
  }

  h2 {
    font-size: $icon-service-size /2.5;
    padding-top: $icon-service-size /4;
    margin-bottom: .2em;
    display: inline-block;
  }

  p {
    color: $medium-gray;
    font-size: 75%;
    font-weight: 700;
  }
}


// Home 

.front-page {
  @include outer-container;
  @include transition (all .2s ease-in-out);
  margin-bottom: 2em;
}


@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-items-background: $base-body-color;
  $grid-item-background: desaturate($base-accent-color, 30); 
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 300px;

  @include clearfix;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: pointer;

    @include media($bp-large) {
      @include grid-item-columns($grid-item-columns);
    }

  }

  .grid-item-content {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 4.2em;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    @include transition (all 0.2s ease-in-out);

    &:hover {
      opacity: 1;
    }
  }

  .grid-item i {
    color: $grid-item-color;
    margin-bottom: .2em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: .4em;
  }

  .grid-item p {
    margin: auto;
    color: transparentize($grid-item-color, .3);
    font-size: 75%;
    font-weight: 700;
    @include media($bp-medium) {
      max-width: 70%;
    }
  }

  .grid-item-big {
    @include media($bp-large) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($bp-medium) {
        max-width: 60%;
      }  
    }
  }

  .grid-item-image {
    background: url();
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .ghostwire { background: #4A5966 url(../images/projects/ghostwire-news.png) top center no-repeat;}
  .google-xy { background: #ffe27e url(../images/projects/google-xy.png) top right no-repeat;}
  .starcraft-wcs { background: #09131e url(../images/projects/starcraft-wcs-c.png) top right no-repeat;}
}




p.quote {
    color: $light-gray;
    font-size: 85%;
    text-align: center;
  }

// Work

.featured {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.project-row {
  @include row();
}

.project-image {
  @include span-columns(12);

  a {
    float: right;
    display: block;
    max-width: 620px;
    width: 100%;
    height: 300px;
  }
}

.project-info {
  @include span-columns(12);
  padding-left: 1rem;

  h2.project-title {
    display: block;
    width: 100%;
    color: $medium-gray;
    font-size: 1.3em;
    margin: 1em 0;
  }

  p {
    color: #555;
    font-size: 85%;
  }

  h2:hover {
    color: black;
  }
}

@media (min-width: $bp-medium) {

  .project-image {
    @include span-columns(6);
    padding: 3em 0;
    border-right: 2px solid $light-gray;
  }

  .project-info {
    @include span-columns(6);
    max-width: 480px;
    padding-left: 0;
    padding-top: 1.5rem;
  }

}

@media (min-width: $bp-large) {

  .project-image {
    @include span-columns(7);
    padding-right: 2rem;
    border-right: 2px solid $light-gray;
  }

  .project-info {
    @include span-columns(5);
    max-width: 480px;
    padding-top: 1.5rem;
  }

}

.opengov { 

  .project-image {
    background: #709C40;

    a {
      background: url(../images/projects/opengov.png) top right no-repeat;
    }
  }
}

.starcraft-wcs { 

  .project-image {
    background: #09131e;

    a {
      background: url(../images/projects/starcraft-wcs-c.png) top right no-repeat;
    }
  }
}

.google-xy {
  .project-image {
    background: #ffe27e;

    a {
      background: url(../images/projects/google-xy.png) top right no-repeat;
    }
  }
}

.planeshift {
  .project-image {
    background: #181a19;

    a {
      background: url(../images/projects/planeshift.png) top left no-repeat;
    }
  }
}

.ghostwire {
  .project-image {
    background: #4A5966;

    a {
      background: url(../images/projects/ghostwire-news.png) top center no-repeat;
    }
  }
}

.inkfish {
  .project-image {
    background: #292929;

    a {
      background: url(../images/projects/inkfish.png) top left no-repeat;
    }
  }
}

.metro {
  .project-image {
    background: #111;

    a {
      background: url(../images/projects/metro-theme.png) top center no-repeat;
    }
  }
}

// About 


.about {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.about-row {
  @include row();
}

.about-image {
  @include span-columns(12);
  width: 100%;
  height: 250px;
}

.about-info {
  @include span-columns(12);
  padding-left: 1rem;

  h2.about-title {
    display: block;
    width: 100%;
    color: $medium-gray;
    font-size: 1.3em;
    margin: 1em 0;
  }

  p {
    color: #555;
    font-size: 85%;
  }
}



@media (min-width: $bp-medium) {

  .about-image {
    @include span-columns(4);
    padding-right: 2rem;
    border-right: 2px solid $light-gray;
  }

  .about-info {
    @include span-columns(8);
    max-width: 640px;
    padding-top: 1.5rem;
  }

}

.about-me {
  .about-image {
    background: #F5F5F5;
  }
}

.education, .seizure-monitor, .digital-wind-chime, .senior-project {
  .about-image {
    background: #F5F5F5;
  }
}

/* .seizure-monitor {
  .about-image {
    background: #2d5ba6 url(../images/projects/seizure-monitor.png) center right no-repeat;
    background-size: cover;
  }
}

.digital-wind-chime {
  .about-image {
    background: #ffc900 url(../images/projects/digital-wind-chime.png) bottom center no-repeat;
    background-size: cover;
  }
}

.senior-project {
  .about-image {
    background: #fd8709 url(../images/projects/senior-project.png) center center no-repeat;
    background-size: cover;
  }
}
*/

// Starcraft


.page-content {
  @include row();
  margin-top: 1em;
}


@media (min-width: $bp-medium) {
  .image-content {
    @include span-columns(5);

  }

  .text-content {
    @include span-columns(7);
    max-width: 480px;
    padding-top: 2em;
  }
}

@media (min-width: $bp-large) {
  .image-content {
    @include span-columns(7);

  }

  .text-content {
    @include span-columns(5);
    max-width: 480px;
    padding-top: 2em;
  }
}

.one {
  height: 600px;
  margin-bottom: 1em;
  background: url(../images/starcraft/sidebar.png) top right no-repeat;
}

.two {
  height: 200px;
  background: url(../images/starcraft/restyle.png) top right no-repeat;
}




.image-row {
  @include outer-container;
  text-align: center;

  h2 {
    @extend %c-h5;
  }

  img {
    max-width: 1024px;
    width: 100%;
    height: auto;
  }
}
