.services {
  @include outer-container;
  text-align: center;
  margin-bottom: 2em;

  .service {
    @include span-columns(4);
    @include omega(3n);
    @include transition (all .1s ease-in-out);
    color: $color-gray-dark;

    h2 {
      @extend %c-h4;
      font-weight: normal;
      padding-bottom: 1em;
      border-bottom: 2px solid $color-gray-light;
    }


    p {
      width: 100%;
      color: $color-gray-dark;
      padding-top: 1em;
      border-top: 2px solid $color-gray-light;
    }

    i {
      color: $color-gray-dark;
    }
  }
}

// Home 

.front-page {
  @include outer-container;
  @include transition (all .2s ease-in-out);
  margin-bottom: 2em;
}

.boxes {
  margin: 0 auto;
  padding: 0;
}

.box {
  overflow: hidden;
    position: relative;
    margin-bottom:  1.5em;
    background: #F5F5F5;
    @include transition (all .2s ease-in-out);

    a {
    display: block;
    width: 100%;
    height: 300px;
    }

    .project-title {
    position: absolute;
    bottom: -54px;
    width: 100%;
    padding: 1em;
    color: $color-white;
    background: rgba(54,54,54,0.9);
    border-top: 2px solid $color-gray-light;
    @include transition (all .2s ease-in-out);
  }
}

.box:hover {
  background-color: $color-gray-dark;

  .project-title {
    bottom: 0;
  }
}


@media (min-width: $bp-medium) {
  .box {
    @include span-columns(6);
    @include omega(2n);
  }

  .boxes {
    .google-xy {
      @include span-columns(8);
      @include shift(2);
    }
  }

}

@media (min-width: $bp-large) {
  .box {
    @include omega-reset(2n);
    @include span-columns(4);
    @include omega(3n);
  }

  .boxes {
    .google-xy {
      @include span-columns(4);
      @include shift(0);
    }
  }

}

p.quote {
    color: $color-gray-light;
    font-size: 85%;
    text-align: center;
  }

// Work

.featured {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.project-row {
  @include row();
}

.project-image {
  @include span-columns(12);

  a {
    float: right;
    display: block;
    max-width: 620px;
    width: 100%;
    height: 300px;
  }
}

.project-info {
  @include span-columns(12);
  padding-left: 1rem;

  h3.project-title {
    @extend %c-h5;
    display: block;
    width: 100%;
    color: $color-gray-dark;
    border-bottom: 2px solid $color-gray-light;
  }

  p {
    color: #555;
    font-size: 85%;
  }

  h3:hover {
    color: $color-black;
  }
}

@media (min-width: $bp-medium) {

  .project-image {
    @include span-columns(6);
    padding: 3em 0;
    border-right: 2px solid $color-gray-light;
  }

  .project-info {
    @include span-columns(6);
    max-width: 480px;
    padding-left: 0;
    padding-top: 1.5rem;
  }

}

@media (min-width: $bp-large) {

  .project-image {
    @include span-columns(7);
    padding-right: 2rem;
    border-right: 2px solid $color-gray-light;
  }

  .project-info {
    @include span-columns(5);
    max-width: 480px;
    padding-top: 1.5rem;
  }

}

.starcraft-wcs { 

  .project-image, .box-image {
    background: #09131e;

    a {
      background: url(../images/projects/starcraft-wcs-c.png) top right no-repeat;
    }
  }
}

.google-xy {
  .project-image, .box-image {
    background: #ffe27e;

    a {
      background: url(../images/projects/google-xy.png) top right no-repeat;
    }
  }
}

.planeshift {
  .project-image {
    background: #181a19;

    a {
      background: url(../images/projects/planeshift.png) top left no-repeat;
    }
  }
}

.ghostwire {
  .project-image, .box-image {
    background: #4A5966;

    a {
      background: url(../images/projects/ghostwire-news.png) top center no-repeat;
    }
  }
}

.inkfish {
  .project-image {
    background: #292929;

    a {
      background: url(../images/projects/inkfish.png) top left no-repeat;
    }
  }
}

.metro {
  .project-image {
    background: #111;

    a {
      background: url(../images/projects/metro-theme.png) top center no-repeat;
    }
  }
}

// About 


.about {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.about-row {
  @include row();
}

.about-image {
  @include span-columns(12);
  width: 100%;
  height: 250px;
}

.about-info {
  @include span-columns(12);
  padding-left: 1rem;

  h3.about-title {
    @extend %c-h5;
    display: block;
    width: 100%;
    color: $color-gray-dark;
    border-bottom: 2px solid $color-gray-light;
  }

  p {
    color: #555;
    font-size: 85%;
  }
}



@media (min-width: $bp-medium) {

  .about-image {
    @include span-columns(4);
    padding-right: 2rem;
    border-right: 2px solid $color-gray-light;
  }

  .about-info {
    @include span-columns(8);
    max-width: 640px;
    padding-top: 1.5rem;
  }

}

.about-me {
  .about-image {
    background: #F5F5F5;
  }
}

.education, .seizure-monitor, .digital-wind-chime, .senior-project {
  .about-image {
    background: #F5F5F5;
  }
}

/* .seizure-monitor {
  .about-image {
    background: #2d5ba6 url(../images/projects/seizure-monitor.png) center right no-repeat;
    background-size: cover;
  }
}

.digital-wind-chime {
  .about-image {
    background: #ffc900 url(../images/projects/digital-wind-chime.png) bottom center no-repeat;
    background-size: cover;
  }
}

.senior-project {
  .about-image {
    background: #fd8709 url(../images/projects/senior-project.png) center center no-repeat;
    background-size: cover;
  }
}
*/

// Starcraft


.page-content {
  @include row();
  margin-top: 1em;
}


@media (min-width: $bp-medium) {
  .image-content {
    @include span-columns(5);

  }

  .text-content {
    @include span-columns(7);
    max-width: 480px;
    padding-top: 2em;
  }
}

@media (min-width: $bp-large) {
  .image-content {
    @include span-columns(7);

  }

  .text-content {
    @include span-columns(5);
    max-width: 480px;
    padding-top: 2em;
  }
}

.one {
  height: 600px;
  margin-bottom: 1em;
  background: url(../images/starcraft/sidebar.png) top right no-repeat;
}

.two {
  height: 200px;
  background: url(../images/starcraft/restyle.png) top right no-repeat;
}




.image-row {
  @include outer-container;
  text-align: center;

  h2 {
    @extend %c-h5;
  }

  img {
    max-width: 1024px;
    width: 100%;
    height: auto;
  }
}
