//= require normalize-css/normalize
//= require _erb/_syntax

@import 'bourbon';
@import 'neat';

$primary: #333;
$secondary: #515251;
$accent: #999;

$link: #333;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }
}

body {
  color: $secondary;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: $link;
  text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: $primary;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: $primary;
}

small, .small {
	font-size: 75%;
}

.muted {
	color: $accent;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


.fluidbox {
    outline: none;
}

#fluidbox-overlay {
    background-color: rgba(255,255,255,.85);
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
}

.fluidbox-wrap {
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 400;
    transition: all .25s ease-in-out;
    cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.fluidbox-opened .fluidbox-wrap {
    z-index: 600;
    cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.fluidbox-ghost {
	background-size: cover;
	background-position: center center;
	position: absolute;
	transition: all .25s ease-in-out;
}

#site-header {
	background: #e7e7e7 url(/assets/images/header.png);
	background-size: cover;
	border-bottom: 2px solid $accent;
}

#topbar {
	background: rgba(255,255,255,0.8);
	border-bottom: 2px solid $accent;
	@include transition (all .2s ease-in-out);
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@include transition (all .2s ease-in-out);
}

.headroom--unpinned {
	top: -100px; 
}

.headroom--pinned {
	top: 0; 
}

#masthead {
	@include outer-container();
	padding: 0 10px;
}

#masthead-title {
	text-align: center;
	padding-left: 15px;

	@include media(768px) {
	    float: left;
	    text-align: left;
	  }

	h1 {
		display: block;
		min-width: 130px;
		font-size: 1.25rem;
		@include transition (all .3s linear);

		.tagline {
			display: block;
			width: 100%;
			font-size: 1rem;
			text-align: center;
			color: $accent;
		}
		strong {
			color: $accent;
		}
		
	}
}

#masthead-aside {
	text-align: center;

	@include media(768px) {
	    float: right;
	    text-align: left;
	  }

	h2 {
		display: inline-block;
		font-size: 1rem;
		font-weight: 400;
	}
}

#site-nav {
	margin: 0;
	padding:0;

	ul {
		margin: 0;
		padding:0;
	}


	li {
		display: inline;
		font-size: 1rem;
		font-weight: 700;

		a {
			display: inline-block;
			width: 60px;
			text-align: center;
			padding: 15px 10px;
			margin: 0 10px;
			color: $secondary;
			margin-bottom: -2px;
			border-bottom: 2px solid $accent;

			.label {
				display: none;
				color: $accent;
				font-size: 85%;
			}

			@include media(368px) {
				width: 100px;
				.label {
					display: inline;
				}
			}
		}

		a:hover {
			color: $primary;
			text-decoration: none;
			background: #e7e7e7;
			border-bottom: 2px solid $secondary;

			.label {
				color: $primary;
			}
		}
	}

	li.current {
		a {
			color: $primary;
			border-bottom: 2px solid $primary;

			.label {
				color: $primary;
			}
		}
		a:hover {
			color: $primary;
			text-decoration: none;
			background: #e7e7e7;
			border-bottom: 2px solid $secondary;
		}
	}
}

#hero {
	text-align: center;
	padding: 140px 0 80px 0;
	h1 {
		display: inline-block;
		min-width: 300px;
		color: $primary;
	}

	h2 {
		font-size: 1rem;
		color: $secondary;		
	}
}

.project-listings, .latest-listings, .featured-listings, .client-listings {
	@include outer-container();
	padding: 0 10px;

	@include media(768px) {
		padding: 0;
		padding-left: 10px;
	}

	@include media(1030px) {
		padding: 0;
	}
}

.project-listings {
	margin-bottom: 1rem;

	h1 {
		margin: 1rem 0;
		border-bottom: 2px solid $secondary;
	}
}

.project-image {
	@include media(768px) {
		@include span-columns(6 of 12);
	}
}

.project-content {
	@include pad();

	@include media(768px) {
		@include span-columns(6 of 12);
	}
}

.project-title {
	h2 {
		font-weight: normal;
		border-bottom: 2px solid $accent;
	}

	a {
		h2 {
			font-weight: 700;
		}
	}

	a:hover {
		text-decoration: none;
		h2 {
			border-bottom: 2px solid $primary;
		}
	}
}

.project-date {
	font-size: 75%;
	font-weight: 700;
	color: $accent;
	border-bottom: 2px solid $accent;
}

.project-description {
	padding-top: 20px;
}

.tags li {
	display: inline;
	padding: 2px 5px;
	margin: 0 5px;
}

.subheader {
	font-size: 1.25rem;
	color: $accent;
}

.latest-listing {
	@include span-columns(12);
	background: #fff;
	margin-bottom: 40px;

	@include media(1030px) {
		@include span-columns(6);
		@include omega(2n);

		.project-image {
			@include span-columns(12);
		}

		.project-content {
			@include span-columns(10);
			@include shift(1);
		}

	}
}


.latet-listing {
	@include span-columns(12);
	background: #fff;
	margin-bottom: 40px;

	@include media(1030px) {
		@include span-columns(6);
		@include omega(2n);

		.project-image {
			@include span-columns(12);
		}

		.project-content {
			@include span-columns(10);
			@include shift(1);
		}

	}
}
.featured-listing {
	@include span-columns(12);
	background: #fff;
	margin-bottom: 40px;

	@include media(1030px) {
		.project-image {
			@include span-columns(7 of 12);
		}
		.project-content {
			@include span-columns(5 of 12);
			padding-top: 6%;
		}
	}
}

.client-listing {
	@include span-columns(12);
	background: #fff;
	margin-bottom: 40px;

	@include media(1030px) {
		@include span-columns(4);
		@include omega(3n);

		.project-image {
			@include span-columns(12);
		}

		.project-content {
			@include span-columns(12);
		}
	}
}

#site-footer {

	border-top: 2px solid $primary;
}

#inner-footer {
	@include outer-container;
	padding: 15px 10px;
}

#copyright {
	float: left;
	font-weight: 700;
}

#social-nav {
	float: right;
	margin: 0;
	padding:0;

	ul {
		margin: 0;
		padding:0;
	}


	li {
		display: inline;
		font-size: 1.25rem;
		font-weight: 700;

		a {
			display: inline-block;
			padding: 6px 12px;
			margin: 0 5px;
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.428571429;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			color: $accent;
			cursor: pointer;
			background: none;
			border: 2px solid $accent;
			border-radius: 4px;
		}

		a:hover {
			color: $primary;
			text-decoration: none;
			border-color: $primary;
		}
	}
}

li#twitter {
	a:hover {
			color: #41b7d8;
			border-color: #41b7d8;
		}
}

li#google-plus {
	a:hover {
			color: #d64937;
			border-color: #d64937;
		}
}

li#linked-in {
	a:hover {
			color: #0073b2;
			border-color: #0073b2;
		}
}