%footer.site-footer
  .footer-nav-bar
    %nav.footer-nav-wrap
      %ul.social-nav
        %li
          %a{href: "mailto:john@urbildpunkt.com", target: "_blank"}
            %i.fa.fa-envelope
        %li.twitter
          %a{href: "http://www.twitter.com/urbildpunkt", target: "_blank"}
            %i.fa.fa-twitter
        %li.google-plus
          %a{href: "https://www.google.com/+JohnQuealy", target: "_blank"}
            %i.fa.fa-google-plus
        %li.linkedin
          %a{href: "http://www.linkedin.com/in/jquealy/", target: "_blank"}
            %i.fa.fa-linkedin
        %li.github
          %a{href: "http://www.github.com/urbildpunkt", target: "_blank"}
            %i.fa.fa-github