
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


/* <nav> */
.top-bar { background: #222; height: 45px; line-height: 45px; margin: 0 0 0px; padding: 0; width: 100%; border-bottom: 1px solid #000;/* Contain width to .row width */ /* First <ul> for branding, title, name, etc */ /* topbar global <ul> styles */ }
.contain-to-grid .top-bar { max-width: 940px; margin: 0 auto; }
.top-bar > ul .name h1 { color: white; line-height: 45px; margin: 0; }
.name a { color: #fff; font-weight: bold; padding: 0 22.5px; font-size: 16px !important; }
.top-bar > ul .name img { margin-top: -5px; vertical-align: middle; }
.top-bar ul > li a:hover { color: #fff; background: rgba(195, 195, 195, 0.3);   }

.search-hero { background: #f1f1f1; height: 70px; text-align: center; border-bottom: 1px solid #E6E6E6; margin-bottom: 10px;}
#search {margin-top: -30px;}

.info {height: 100px;}

/* Breadcrums ---------------------- */
ul.breadcrumbs { display: block; padding: 6px 10px 7px; border: none; border-bottom: 1px solid #e9e9e9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; margin-left: 0; }
ul.breadcrumbs li { margin: 0; padding: 0 12px 0 0; float: left; list-style: none; }
ul.breadcrumbs li a, ul.breadcrumbs li span { text-transform: uppercase; font-size: 11px; font-size: 1.1rem; padding-left: 12px; }
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span { padding-left: 0; }
ul.breadcrumbs li:before { content: "/"; color: #aaa; }
ul.breadcrumbs li:first-child:before { content: " "; }
ul.breadcrumbs li.current a { cursor: default; color: #333; }
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
ul.breadcrumbs li.unavailable a { color: #999; }
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }



@media only screen and (max-width: 940px) { 
  .search-hero {display:none;}
  }
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


