/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
#heroCanvas{ 
	display:block; 
	width:100%; 
	height:300px; 
	position: relative; 
	top: -25px; 
	z-index: -9999; 
	overflow:hidden; 
	border-top: 1px solid #BFBFBF; 
	border-bottom: 1px solid #7F7F7F; 
	background: #f5f5f5;
	background-image: url(../images/graphy.png); 
	background-position: center -2px;
}

.branding{
	height: 60px;
}
nav {
	height: 45px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	font-size: 10pt;
	font-weight: bold;
	position: relative;
	border-top: 2px solid #0766BA;
	border-bottom: 1px solid #7F7F7F;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 700px;
	height: 45px;
}
nav li {
	display: inline;
	float: left;
}
nav a, nav a:visited {
	color: #444;
	display: inline-block;
	width: 110px;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	padding-bottom: 10px;
	
}
nav li a {
	border-right: 1px solid #BFBFBF;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


nav .name a {
	color: #222;
	font-size: 11pt;
	font-weight: normal;
	display: block;
	width: 150px;
	height: 65px;
	background: rgba(255,255,255,0.9);
	background-image: url('../images/code_logo.png');
	background-repeat: no-repeat;
	background-position: center 4px;
	background-size: 40%;
	text-align: center;
	text-decoration: none;
	line-height: 108px;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #7F7F7F;
	border-bottom: 1px solid #7F7F7F;	
}
.secondary {
	color: #222;
	font-weight: bold;
}
nav li:first-child a {
	
}
nav li:last-child a {
	border-right: ;
}
nav a:hover, nav a:active {
	background-color: rgba(245,245,245,0.7);
}
nav .name a:hover, nav .name a:active {
	background-color: rgba(245,245,245,0.9);
}
nav a#pull {
	display: none;
}
nav .logo {
	display: block;
	position: absolute;
	top: 40px;
	height: 60px;
}
.mobile {
			display: none;
		}
		
#main {
	min-height: 500px;
	margin-top: -130px;
	background: rgba(255,255,255,0.8);
	border-top: 1px solid #7F7F7F;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	border-bottom: 1px solid #7F7F7F;
}

#sidebarLeft {
	
}

#sidebarRight {
	margin: 0 auto;
}
#sidebarReplace {
			display: none;
		}

#footer {
	margin-top: -60px;
	padding-top: 40px;
	border-top: 1px solid #7F7F7F;
	border-bottom: 1px solid #BFBFBF;
	background: #f5f5f5;
}

#bottomNav {
	height: 38px;
	width: 100%;
	font-size: 10pt;
	font-weight: bold;
	position: relative;
	border-top: 1px solid #BFBFBF;
}
#bottomNav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 45px;
}
#bottomNav li {
	display: inline;
	float: left;
}
#bottomNav a, #bottomNav a:visited {
	color: #444;
	display: inline-block;
	width: 110px;
	text-align: center;
	text-decoration: none;
	line-height: 38px;
}
#bottomNav li a {
	border-right: 1px solid #BFBFBF;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


#bottomNav .social a {
	width: 49px;
}

#bottomNav .right {
	float: right;	
}

#bottomNav .right a {
	border-right: none;
	border-left: 1px solid #BFBFBF;	
}

#bottomNav li:hover .icon-caret-up, #bottomNav li:hover .icon-home {color: #0766BA;}

a.twtr-user, .twtr-widget h4, .twtr-widget h3, .twtr-hd, .twtr-ft {
    display: none;
}

#twtr-widget-1 a.twtr-timestamp {display: block; width: 100px;}
#twtr-widget-1 em {color:#fff;}
#twtr-widget-1 a.twtr-reply {display: inline-block; width: 0px; height: 20px; overflow:hidden; padding-left: 20px; margin-left: 10px; margin-top: 3px; background: url(https://si0.twimg.com/images/dev/cms/intents/icons/reply.png) no-repeat;}
#twtr-widget-1 a.twtr-reply:hover {background: url(https://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png) no-repeat;}
#twtr-widget-1 a.twtr-rt {display: inline-block; width: 0px; height: 20px; overflow:hidden; padding-left: 20px; margin-left: 10px; background: url(https://si0.twimg.com/images/dev/cms/intents/icons/retweet.png) no-repeat;}
#twtr-widget-1 a.twtr-rt:hover {background: url(https://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png) no-repeat;}
#twtr-widget-1 a.twtr-fav {display: inline-block; width: 0px; height: 20px; overflow:hidden; padding-left: 20px; margin-left: 10px; background: url(https://si0.twimg.com/images/dev/cms/intents/icons/favorite.png) no-repeat;}
#twtr-widget-1 a.twtr-fav:hover {background: url(https://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png) no-repeat;}

/* #Page Styles
================================================== */
.nav-icon {color: #0766BA; font-size: 13px;}
.twitter-icon {color: #6f6f6f; font-size: 13px;}

#twitter.button {color: #00BBF5;}
#google-plus.button {color: #DD4B39;}
#linkedin.button {color: #157FB9;}


.byline { color: #6f6f6f; font-size: 11px; font-weight: normal; position: absolute; top: 12px; display: block; width: 110px; height: 10px; text-align: center; }
.byline a {font-size: 11px; font-weight: normal;}
.name .byline { color: #6f6f6f; font-size: 12px; font-weight: normal; position: absolute; top: 20px; display: block; width: 150px; text-align: center; }

.heading {
	padding-top: 30px;
	text-align: center
}
.intro {
	padding: 0 20px;
}

.services {
	text-align: center;
	margin-top: px;
	padding: 20px 0;
	background: #f5f5f5;
}

.project {
	border-bottom: 1px solid #E5E5E5;
}

.projectInfo {
	text-align: center;
}

.projectImages {

}

.projectImage {
	text-align: center;
}
.projectImage img {

	border-bottom: 0px solid #444;
}

.viewMore {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	top: -26px;
	color: rgba(0,0,0,0);
	background: rgba(255,255,255,0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.projectImageLink.button {

}

.disabled {
	visibility: hidden;
}

.specs {
	font-size: 11px;
	text-align: center;
}

.info {min-height: 70px;}

.map {
	padding-top: 5px;
	height: 244px;
	overflow:hidden;
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-position: right top;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}

.footing {
	padding-top: 5px;
	text-align: center;
	font-size: 11px;
	margin-bottom: 0px;
}

.copyright {
	margin-top: 0px;
	color: #BFBFBF;
	text-align: center;
	font-size: 10px;
}

/* #SuperBox
================================================== */
/* Base Superbox Styles */
#superbox-overlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;}
#superbox-wrapper{position:fixed;z-index:9999;top:0;display:table;width:100%;height:100%;}
#superbox-container{position:relative;display:table-cell;width:100%;height:100%;margin:0;padding:0;vertical-align:middle;}
#superbox{margin:0 auto;padding:0;}
#superbox-container .loading{margin:0;text-align:center;}

/* IE7 */
*:first-child+html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
*:first-child+html #superbox{position:relative;top:-50%;display:block;}
/* IE6 - Thanks to Thickbox for IE expressions */
* html #superbox-container{position:absolute;top:50%;display:block;height:auto;}
* html #superbox{position:relative;top:-50%;display:block;}
* html #superbox-overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight + 'px' : document.body.offsetHeight + 'px');}
* html #superbox-wrapper{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}

/* Default Theme */
#superbox-overlay{background:#000;}
#superbox-container .loading{text-align:center;font-size:40px;color:#fff;}
#superbox{background: rgba(0,0,0,0.9);}
#superbox-innerbox{height: 100%; }
#superbox.image{text-align:center;}
#superbox-innerbox img { position: relative; top: -50px; }
#superbox .close,
#superbox .nextprev{margin:0 auto; text-align: center; }

		#superbox .close a{float:left; margin-left: 10px; background: rgba(0,0,0,0.9); padding-top:15px; height: 100px; width: 30%; cursor:pointer; }
		#superbox .close a span{color:#fff;}
		#superbox .nextprev a {display: block; margin-left: 10px; padding-top:6px; background: rgba(0,0,0,0.9);  width: 30%; height: 100px; cursor:pointer;color:#fff; }
		#superbox .nextprev a span{color:#fff;}
		#superbox .nextprev .disabled{background:#ccc;cursor:default;}
		#superbox a.prev {float:left;}
		#superbox a.next {float:left;}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#sidebarReplace {
				display: inline-block;
			}
	
	}
    
        @media only screen and (max-width: 1000px) {
		#twtr-widget-1 {
				display: none;
			}
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
           
        }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 720px) {
	
		nav ul {
			padding: 0;
			margin: 0 auto;
			width: 600px;
			height: 45px;
		}
		nav a {
			color: #444;
			display: inline-block;
			width: 96px;
			text-align: center;
			text-decoration: none;
			line-height: 35px;
			padding-bottom: 10px;
			
		}

		nav .name a {
			width: 120px;	
			background-position: center 3px;
			background-size: 50%;
		}
		
				#sidebarLeft, #sidebarRight{
			display: none;
		}

	}
	
	/*Styles for screen 600px and lower*/
	@media screen and (max-width: 620px) {
	
		.name {
			display: none;
		}
		.desktop {
			display: none;
		}
		.mobile {
			display: inline-block;
		}
		.nav-icon {
			position: relative;
			left: -50px;
		}
		nav { 
			height: auto;
			border-bottom: 0;
		}
		nav ul {
			width: 100%;
			display: none;
			height: auto;
		}
		nav li {
			display: block;
			float: none;
			width: 100%;
			position: relative;
		}
		nav li a {
			border-bottom: 1px solid #4B647C;
			border-right: 1px solid #4B647C;
		}
		nav a {
			text-align: left;
			width: 100%;
			text-indent: 25px;
		}
		nav a#pull {
			color: #fff;
			font-weight: normal;
			display: block;
			background-color: #0766BA;
			width: 100%;
			position: relative;
		}
		nav a#pull .secondary {
			color: #fff;
			font-weight: bold;
		}
		nav a#pull:after {
			content:"";
			background: url('../images/nav-icon.png') no-repeat;
			width: 30px;
			height: 30px;
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 10px;
		}
		#footer {
			margin-top: 0px;
			padding-top: 0px;
			background: #f5f5f5;
	}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 380px) {
		.map {
			background-position: 160px top;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
