---
title: 'John Quealy | About'
introTitle: 'John Quealy'
introTagline: 'I am available for work, and willing to relocate.'
---

- content_for :head do
  :css
      header, .headroom, .headroom--pinned, .headroom:hover { background: #0088cc;}

%ul.about
  - data.about.each do |p|
    %li.about-row{:class => p['slug']}
      %div.about
        %div.about-image
        %div.about-info
          %h3.about-title=  p["title"]
          %p= p['description']
