---
title: "John Quealy | About"
introTitle: "Hello, I'm John Quealy."
introTagline: "I'm available for work and willing to relocate."
---

- content_for :head do
  :css
      header { background: url('/assets/images/giftly.png');
        animation: animatedBackground 200s linear infinite;
        -ms-animation: animatedBackground 200s linear infinite;
        -moz-animation: animatedBackground 200s linear infinite;
        -webkit-animation: animatedBackground 200s linear infinite;
      }

%ul.about
  - data.about.each do |p|
    %li.about-row{:class => p['slug']}
      %div.about
        %div.about-image
        %div.about-info
          %h2.about-title=  p["title"]
          %p= p['description']
