---
title: "John Quealy"
introTitle: "Hello, I'm John Quealy."
introTagline: "I plan, design, and create experiences."
---

- content_for :head do
  :css
      header { background: url('/assets/images/stardust.png'); 
        animation: animatedBackground 90s linear infinite;
        -ms-animation: animatedBackground 90s linear infinite;
        -moz-animation: animatedBackground 90s linear infinite;
        -webkit-animation: animatedBackground 90s linear infinite;
      }
.services-row
  .services
    .service
      .service-icon.service-icon-1
        %i.fa.fa-2x.fa-cloud
      .service-content
        %h2 Strategy
        %p Information Architecture
    .service
      .service-icon.service-icon-2
        %i.fa.fa-2x.fa-edit
      .service-content
        %h2 Design
        %p UX / UI & Web Design
    .service
      .service-icon.service-icon-3
        %i.fa.fa-2x.fa-laptop
      .service-content
        %h2 Code
        %p Front-End Development


.front-page
  .grid-items
    %a.grid-item.ghostwire{href: "http://urbildpunkt.com/ghostwire/", target: "_blank"}
      .grid-item-content
        %i.fa.fa-3x.fa-rss
        %h1 Ghostwire: News
        %p Ghost Blog Theme
    %a.grid-item.starcraft-wcs{href: "/starcraft.html"}
      .grid-item-content
        %i.fa.fa-3x.fa-play-circle
        %h1 StarCraft II WCS
        %p UX / UI Design
    %a.grid-item.google-xy{href: "http://urbildpunkt.com/static/googlexy/", target: "_blank"}
      .grid-item-content
        %i.fa.fa-3x.fa-dashboard
        %h1 Google X/Y: Dashboard
        %p UX / UI / Web & Mobile Design

