---
title: 'John Quealy | OpenGov'
introTitle: "<i class='fa fa-fw fa-map-marker'></i> OpenGov"
introTagline: 'Designing Search'
---

- content_for :head do
  :css
      header { background: #709C40;}

%br

.personas
  .persona
    .persona-image
      %img{alt: "Government Official", src: "assets/images/opengov/knope.jpg"}/
    .persona-content
      %h2 Government Official
      %p Curious about becoming an OpenGov customer, wants to see other governments using the service (proving credibility).
      %p.persona-detail Showing her the closest customers brings the possibility of easily reaching out for a recommendation.
  .persona
    .persona-image
      %img{alt: "Citizen", src: "assets/images/opengov/anne.jpg"}/
    .persona-content
      %h2 Citizen
      %p Looking to see if her local government is an OpenGov customer and/or to browse data.
      %p.persona-detail Future Idea: If her local government is missing, encourage her to speak out and let them know she wants to see their data opened (using social media or some ‘petitioning’ system).

.tasks
  %strong Tasks:
  present user with the closest customer, allow them to view more, and give them the option to manually input a new location.

%br 

.wireframes
  %p
    %strong Final Sketch
  %p
    %img{alt: "Wireframe", src: "assets/images/opengov/sketch.png"}/
  %br
  %p
    %strong Wireframe
  %p
    %img{alt: "Wireframe", src: "assets/images/opengov/wireframe-2.png"}/
  %br
  %p
    %strong Interactive Prototype

.map
  .card
    .card-header
      %a.featured-logo{href: "javascript:void(0)"}
        %img{alt: "Local Government", src: "assets/images/opengov/paloalto-logo.png"}/
    .card-search
      .search-bar
        %a.nearby-button.js-trigger{href: "javascript:void(0)"}
          %img{alt: "", src: "assets/images/opengov/nearby-icon.png"}/
        .search-and-submit
          %input{placeholder: "Enter City or Zip", type: "search"}/
          %button.js-trigger{type: "submit"}
            %img{alt: "", src: "assets/images/opengov/search-icon.png"}/
      %ul.search-results
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "Nearby City", src: "assets/images/opengov/mountainview-logo.png"}/
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "Nearby City", src: "assets/images/opengov/saratoga-logo.png"}/
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "Nearby City", src: "assets/images/opengov/salinas-logo.png"}/
        %li
          %a{href: "javascript:void(0)"}
            %img{alt: "Nearby City", src: "assets/images/opengov/monterey-logo.png"}/

- content_for :footer do
  :javascript
      jQuery('.js-trigger')
      .bind('click focus', function(){
        $('.card').toggleClass('is-expanded');
        $('.search-results').slideToggle('slow');
      });
