---
title: 'John Quealy | About'
introTitle: 'PlaneShift MMORPG'
introTagline: 'Website and Interface Redesign'
---

- content_for :head do
  :css
      header, .headroom, .headroom--pinned, .headroom:hover { background: #181a19;}


.image-row
  %p
    = image_tag 'planeshift/ps-login.png'
  %p
    = image_tag 'planeshift/ps-gui.png'
  %p
  = image_tag 'planeshift/ps-website.png'

