---
title: 'John Quealy | PlaneShift'
introTitle: "<i class='fa fa-fw fa-shield'></i> PlaneShift MMORPG"
introTagline: 'Website and Interface Redesign'
---

- content_for :head do
  :css
      header { background: #181a19;}

%br

.image-row
  %p
    = image_tag 'planeshift/ps-login.png'
  %p
    = image_tag 'planeshift/ps-gui.png'
  %p
  = image_tag 'planeshift/ps-website.png'

