---
title: 'John Quealy | Portfolio'
introTitle: 'Featured Work'
introTagline: 'Portfolio'
---

- content_for :head do
  :css
      header { background: url('/assets/images/geometry.png');
        animation: animatedBackground 90s linear infinite;
        -ms-animation: animatedBackground 90s linear infinite;
        -moz-animation: animatedBackground 90s linear infinite;
        -webkit-animation: animatedBackground 90s linear infinite;
      }

%ul.featured
  - data.projects.each do |p|
    %li.project-row{:class => p['slug']}
      %div.project
        %div.project-image
          %a{href: p['url'], target: p['url-target']}
        %div.project-info
          %a{href: p['url'], target: p['url-target']}
            %h2.project-title=  p["title"]
          %p= p['description']


